
.preformatted {
    font-family: monospace;
    white-space: pre;
}

.address-type {
    font-size: smaller;
}

.macro-block-row {
    font-size: large;
    font-weight: bold;
}

.nimiq-address {
    font-family: monospace;
    font-size: smaller;
}