{{#> base }}
    {{#*inline "title"}}
        Error {{content.code}}
    {{/inline}}


    {{#*inline "content-block"}}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{content.code}} - {{content.name}}</h1>
            <p>
                {{error.description}}
            </p>
        </div>
    {{/inline}}
{{/base}}
